body{
    font-family: Roboto,sans-serif;
}

.large.inverted.menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 2em;
    background: #292929;
}

.toc:not(.mini) .large.inverted.menu .item {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-transform: uppercase
}

.toc.mini .large.inverted.menu .item {
    font-size: 14px;
}


.large.inverted.menu .active.item {
    transition: all 0.2s ease-in;
    background: rgb(42, 184, 119) !important;
}

.large.inverted.menu .item > i.icon {
    float: none;
    margin: 0 .4em 0 0;
}

.toc.mini icon {
    margin: 0
}

.large.inverted.menu .item:before {
    content: none;
    background: transparent;
}

.large.inverted.menu .item img {
    margin-left: .3em;
    margin-right: .6em;
    width: 26px;
}

.toc.mini .large.inverted.menu .item img {
    width: 20px;
}

.avatar_border {
    overflow: hidden;
    -webkit-border-radius: 500rem;
    -moz-border-radius: 500rem;
    border-radius: 500rem;
    padding: .8em;
    border: 1px solid rgb(42, 184, 119);
    height: 150px;
    width: 150px;
    margin: auto
}

.toc.mini .avatar_border {
    height: 60px;
    width: 60px;
    padding:.3em;
}

.toc:not(.mini) .large.inverted.menu .text {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5em;
    color: #fff
}

.toc.mini .large.inverted.menu .text {
    font-size: 14px;
    color: #fff;
    word-break: break-all;
    padding: .8em;
}

.toc.mini .large.inverted.menu span {
    display: none;
}

.full.height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /*height: 100%;*/
    min-height: 100%;
}

.full.height > .toc {
    position: relative;
    z-index: 1;
    background: #292929;
    width: 280px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

}

.full.height > .toc.mini {
    width: 80px;
}

.toc.mini .upload.icon {
    font-size: 1em;
    margin-left: .3em;
}

.full.height > .toc .ui.menu {
    border-radius: 0;
    border-width: 0 1px 0 0;
    box-shadow: none;
    margin: 0;
    width: inherit;
    overflow: hidden;
    will-change: transform;
}

.full.height > .content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 520px;
}

#sgm-notify {
    background: #cbcbcb;
    height: 70px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}

#sgm-notify .sidebar.icon {
    margin: 0.6rem 0;
    font-size: 2rem;
}

#sgm-notify .secondary.menu .item {
    padding: 0;
}

#sgm-notify .secondary.menu .item:hover {
    background: transparent;
}

#sgm-notify .floating.label {
    top: -.9em;
    left: 80%;
}

#alerts {
    /*margin: 1em 10px;*/
}

#alerts .item > img {
    width: 35px;
}

#content-card .header {
    font-family: Roboto, sans-serif !important;
    font-weight: 500;
    font-size: 1.5em;

}

.main_button {
    background: rgb(42, 184, 119);
    padding: .7em;
    color: #fff !important;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    width: 100%;
    border: 0;
    cursor: pointer;

}

.main_button:hover {
    background: rgb(42, 194, 129);
}

#content-card .very.basic.table thead th {
    font-size: 1rem;
    font-family: Roboto, sans-serif !important;
    font-weight: 600;
}

#content-card #repair-table thead th {
    font-size: 1rem;
    font-family: Roboto, sans-serif !important;
    font-weight: 500;
}

#content-card .very.basic.table tbody td {
    font-size: 1rem;
    font-family: Roboto, sans-serif !important;
    font-weight: 400;
}

#content-card .very.basic.table:not(#repair-table):not('#all_params') td:first-child {
    font-weight: 500;
    font-size: 16px;
}

#content-card .very.basic.table td a {
    color: #424242;
    /*border-bottom: 1px solid rgb(42, 184, 119);*/
}

#content-card .very.basic.table .icon {
    color: rgb(42, 184, 119);
}

#content-card > .content:nth-child(1) {
    background: #d7d7d7;
}

#content-card label {
    font-size: 14px;
    font-family: Roboto, sans-serif !important;
    font-weight: 400;
}

.small.main_button {
    font-size: 14px;
    width: 70%;
    margin: auto;
}

.comments-list {
    list-style: none;
}

#context1 .segment {
    margin-top: 0;
}

#context1 .ui.grid + .grid {
    margin-top: -1rem;
}

#example_TO_tab {
    display: none;
}

#context1 .circular.label {
    padding: .3em !important;
    font-size: .65714286rem;
}

#popup-messages {

}

#popup-messages .metadata {
    margin-left: 0;
}

#popup-messages .comment {
    margin-top: 0;
    padding-top: 0;
}

#popup-messages * {
    font-family: Roboto, sans-serif !important;
}

#popup-messages .author {
    font-size: 1.1rem;
}

#popup-messages .comment .text {
    margin: 0;
}

#popup-messages .comment .date {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #6a6a6a
}

#alerts .icon{
    padding: 15px;
    border: 1px solid #000;
    border-radius: 50px;
}
#alerts .item:first-child .icon:before{
    bottom: 12px;
    right: 10px;
    position: relative;
}
#alerts .item:nth-child(3) .icon:before{
    bottom: 11px;
    right: 4px;
    position: relative;
}
#alerts .item:nth-child(4) .icon:before{
    bottom: 9px;
    right: 8px;
    position: relative;
}
.edit_work_link{
    position: absolute;
    top:0px;
    right:20px;
}
.ui.sortable.table thead th.sorted:after{
    color: rgb(42, 184, 119);
}
th:first-child span{
    width:100%;
}

.filter.icon[is-active=false]{
    color:#d7d7d7 !important
}


.filter.icon.notactive{
    color:#d7d7d7 !important
}


.modal[data-filter] .row,
.modal[data-modal] .row{
    border-bottom: 1px solid #d7d7d7;
    padding:.5em 0
}


.modal .column.header{
    border-radius: .28571429rem .28571429rem 0 0;
    background: #ebebeb
}
.modal[data-modal] .content,
.modal[data-filter] .content{
    padding:1em;
}
/*.modal[data-modal=add_ku] .row:nth-child(2n+1),*/
/*.modal[data-modal=edit] .row:nth-child(2n+1),*/
/*.modal[data-modal=org] .row:nth-child(2n+1),*/
/*.modal[data-modal=show_device] .row:nth-child(2n+1),*/
/*.modal[data-modal=add_param] .row:nth-child(2n+1){*/
    /*background: #f0f0f0;*/
/*}*/
.modal[data-modal] .row:nth-child(2n+1),
.modal[data-filter] .row:nth-child(2n+1){
    background: #f0f0f0;
}
.main_button.cancel,
.main_button.clear,
.main_button.disable,
.main_button.remove{
    background: #db2828;
}

.modal label{
    font-weight: 500;
}
.main_link{
    color:rgb(42, 184, 119) !important;
    font-size:1.2em;
}
#ku_details .header{
    font-family:Roboto,sans-serif !important;
    font-weight:400 !important;
}

#ku_details .sync.icon,
#ku_details .check.icon{
    color:rgb(42, 184, 119) !important
}
.row.hidden{
    display:none !important;
}
#ku_details .tab.segment{
    margin-top:0
}

button[data-style=default]{
    background: rgb(42, 184, 119) !important;
    color:#fff!important;
    font-family: Roboto, sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.2rem;
}
button[data-style=default]:hover{
    background: rgb(42, 174, 109) !important;
}
button[data-style=default]:active{
    background: rgb(42, 164, 99) !important;
}
a[data-organization]{
    text-decoration: underline;
}
.chart-holder{
    width:200px;
    height:100px;
}
.chart-holder > div{
    max-width:100%;
    max-height:100%;
}