
.custom_input_span {
    position: relative;
    display: inline-block;
    width:100%;
}

.basic-slide::placeholder{
    color:transparent !important;
}

.basic-slide {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 15px  !important;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377d6a;
    background: #efefef;
    border: 1px solid #9b9b9b !important;
    border-radius: 3px;
    outline: 0;
    text-indent: 80px !important;
    transition: all 0.3s ease-in-out!important;
    font-size: 15px !important;
    font-family:Roboto, sans-serif !important;
    font-weight:300 !important;
}


#register_form .column:first-child .field:nth-child(4) .basic-slide:not(:focus):not(:active),
#register_form .column:first-child .field:nth-child(5) .basic-slide:not(:focus):not(:active),
#register_form .column:first-child .field:nth-child(6) .basic-slide:not(:focus):not(:active){
    text-indent: 80px !important;
}

.basic-slide::-webkit-input-placeholder {
    color:transparent !important;
    text-indent: 0;
    font-weight: 300;
}
.basic-slide + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 9px 5px;
    min-width: 85px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #2ab877;
    transition: all 0.3s ease-in-out !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color:#fff;
}

.basic-slide:focus,
.basic-slide:active {
    color: #377d6a;
    text-indent: 0!important;
    background: #fff;
    border-top-left-radius: 0  !important;
    border-bottom-left-radius: 0  !important;
}
.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
    color: #c3c3c3 !important;
}
.basic-slide:focus + label,
.basic-slide:active + label {
    transform: translateX(-100%);
}
.basic-slide.dropdown:not(.active) .text{
    text-indent: 30px;
}
.basic-slide.dropdown.active .text{
    text-indent: 0px;
}
.basic-slide.dropdown + label{
    z-index:999;
}