.ui.fluid.segment{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#first_block{

    min-height:800px;
    padding:0;
    margin:0;
}
.logo{
    font-family: 'Russo One', sans-serif;
    color:#fff !important;
    font-size:0;
    padding:.5em;
    /*border:3px solid white;*/
    /*margin: 0.3em;*/
    /*background: url('/img/evraz-logo.png') no-repeat;*/
}

#first_block .ui.menu{
    background:transparent;
    border:0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
#first_block .ui.menu .item{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#fff;
    font-size:18px;
    border:0;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    padding: .5em 1em;
}
#first_block .ui.menu .item::before{
    display:none;
}
#first_block .ui.menu .item:hover{
    background:rgba(0,0,0,.4)
}
#first_block .ui.menu .active.item{
    color:#2ab877;
}
#first_block h1.header{
    color:#fff;
    font-size:40px;
    font-family: Roboto, sans-serif;
    font-weight:500;
}
#first_block h2.header{
    color:#fff;
    font-size:30px;
    font-family: Roboto, sans-serif;
    font-weight:400;
}
#first_block .grid .arrows{
    /*background:rgba(0,0,0,.5);*/
    padding:3em 0;
}
.arrows .icon{
    background:rgba(0,0,0,.5);
}
#slick-slider .column[data-slide]{

    padding:4em;
}
#slick-slider .transition.hidden{
    display:none !important;
}
#slick-slider .transition.visible{
     display:inline-block !important;
 }

.main_button{
    background: #24b662 !important;
    padding:.5em 1em;
    color:#fff !important;
    font-family:Roboto, sans-serif;
    font-weight:700;
    font-size:20px;
    width:100%;
    text-transform: uppercase;
    border:0;
    cursor:pointer;
}
.main_button:hover{
    background: #24c873 !important;
}
.main_button:active{
    border-color: #17954c;
    color: #17954c;
}

/*2 окно входа
.modal.auth .header{
    color: #777;
    font-size: 2em;
}
.modal.auth input{
    text-align: center!important;
    background-color: #ECF0F1!important;
    border: 2px solid transparent !important;
    border-radius: 3px!important;
    font-size: 16px!important;
    font-weight: 300!important;
    padding: 10px 0!important;

    transition: border .5s!important;
}
.modal.auth .form.login{
    text-align:center;
}
.modal.auth input:focus {
    border: 2px solid #3498DB !important;
    box-shadow: none !important;
}
.modal.auth .login_btn{
    border: 2px solid transparent;
    background: #6db78f;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.modal.auth .login_btn:hover{
    background-color: #62aa83;
}
.modal.auth .login_btn:active{
    background-color: #59a37b;
}
.modal.auth .recover_link{
    font-size: 14px;
    color: #444;
    display: block;
    margin-top: 12px;
    text-decoration: underline;
}
*/


/*3 окно входа*/
.modal.auth, .modal.register{
    border-radius: 7px 7px 0 0;
    padding: 0 !important;
}
.modal.auth .content,
.modal.register{
    padding: 2rem 1.5rem;
}


.modal.auth div.header,
.modal.register div.header,
.modal.recover div.header{
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5em;
    margin-bottom: .7em;
}
.modal.register .field{
    margin: 0 0 1.5em;
}
.modal.auth .info{
    background: #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 0 0;
    text-align: center;
    width: 20px;
}
.modal.auth .recover{
    color: #777 !important;
    font-family: Roboto, sans-serif;
    font-weight:400;
    font-size:14px;
}
.modal.auth .recover:hover{
    color: #1dabb8!important;
}
.submit-link{
    background: #2ab877 !important;
    border-radius: 3px;
    color: #fff !important;
    float: right;
    /*margin-top: 20px;*/
    padding: 13px 25px;
    cursor:pointer;
    font-family: Roboto, sans-serif !important;
    font-weight: 400 !important;
    font-size:16px !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border:0;
    display: inline-block;

    outline: none;
    position: relative;
}

.submit-link:hover{
    background: #2ac382 !important;
}
.submit-link:active{
    background: #2acb8a !important;
}

.modal.recover .submit-link{
    width:100%;
}
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-5px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(5px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-5px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(5px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
    20%, 40%, 60%, 80% {transform: translateX(5px);}
}


@-webkit-keyframes scaleFromUp {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes scaleFromUp {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@keyframes scaleFromUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.submit-link:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.auth .submit-link.error:after{
    z-index: 1;
    color: #fff !important;;
    left: 16%;
    content: "Ошибка!";
    -webkit-animation: scaleFromUp 0.5s;
    -moz-animation: scaleFromUp 0.5s;
    animation: scaleFromUp 0.5s;
}

.modal.auth .submit-link.error{
    -webkit-animation: shake 0.5s;
    -moz-animation: shake 0.5s;
    animation: shake 0.5s;
    color:transparent !important;;
}

/*-----------*/

/*.modal.auth .header,*/
/*.modal.register .header{*/
    /*text-align:center;*/
    /*background: #e9e9e9;*/
    /*font-family:Roboto, sans-serif;*/
    /*font-weight:500 !important;*/
    /*font-size:24px !important;*/
    /*color:#3c3c3c;*/
/*}*/
/*.modal.auth input,*/
/*.modal.register input{*/
    /*border:1px solid #e3e3e3 !important;*/
    /*font-family:Roboto, sans-serif !important;*/
    /*font-weight:300 !important;*/
    /*font-size:15px !important;*/
    /*!*background:#e9e9e9 !important;*!*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
/*}*/
/*.modal.auth .forgot_link{*/
    /*float:right!important;*/
    /*font-family:Roboto,sans-serif !important;*/
    /*font-weight:400 !important;*/
    /*color:#3c3c3c!important;*/
    /*margin-top:10px!important;*/
/*}*/
/*.modal.auth .content,*/
.modal.register .content{
    padding: 2.5rem 1.5rem;
 }
/*.modal.auth .actions,*/
.modal.register .actions{
    text-align:center;
}
/*.modal.auth .actions .positive,*/
.modal.register .positive{
    background:#6db78f;
    font-size:18px;
    font-family:Roboto, sans-serif;
    font-weight:400;
    padding: 0.7em 2em;
}
.card.feature{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    margin-top:1em !important;
    background:transparent !important;
}
.card.feature .header {
    font-family: Roboto, sans-serif !important;
    font-weight:700 !important;
    font-size:20px !important;
    color:#3c3c3c !important;
}
.card.feature .description{
    color:#3c3c3c !important;
    font-family: Roboto, sans-serif !important;
    font-weight:400!important;
    font-size:16px;
}

#howitworks{
    margin: 0;
    background: #eeeeee !important;
    min-height:755px;

}
#features_container>.container,
#howitworks>.container{
    margin:3em 0;
}
#features_container h1.header,
#howitworks h1.header,
#partners h1.header,
#contact_form h1.header,
#contact_info h1.header,
#features_container h3.header,
#howitworks h3.header,
#stats_segment .statistic .value,
#stats_segment .statistic .label,
#howitworks .vertical.menu .item
{
    font-family:Roboto, sans-serif;
    font-weight:300;
    color:#3c3c3c
}
#features_container h3.header,
#howitworks h3.header{
    font-size:32px;
    margin: 0 0 1.5em 0;
}
#features_container h1.header,
#partners h1.header,
#contact_form h1.header,
#howitworks h1.header{
    font-size:48px;
}
#stats_segment{
    /*background:url('/img/counter-back.jpg') no-repeat 50% 36%;*/
    background: transparent;
    padding:5em 0;
    margin:0;
    height:275px;

}
.parallax-mirror:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(20,23,32,0.8)
}
#stats_segment .statistic .label{
    color:#fff;
}
#stats_segment .statistic .value{
    font-size:9em!important;
    color:rgb(42, 184, 119);
}
#stats_segment .statistic .label{
    font-size:1.8em!important;
    text-transform: none;
}
#menu_segment{
    background:rgba(0,0,0,.5);
    margin:0;
    width:100%;
}
#howitworks .vertical.menu{
    background:transparent;
    border:0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;

}
#howitworks .vertical.menu .item{
    font-size:20px;
    padding-top:12px;
    padding-bottom:12px;
}
#howitworks .vertical.menu .item .number{
    left: 280px;
    position: absolute;
}

#howitworks .vertical.menu .item::before{
    content:none !important;
}

/*#howitworks .vertical.menu .item:not(.active):hover{*/
    /*background: transparent;*/
/*}*/
#howitworks .vertical.menu .item:not(.active):hover::before{
    content: '►' !important;
    top: 16px;
     width: 0;
    font-size: 14px;
    color: rgb(42, 184, 119);
    border: 0 !important;

}


#howitworks .card .header{
    font-family: Roboto, sans-serif !important;
    font-weight:700 !important;
    font-size:26px !important;
    color:#3c3c3c !important;
    text-align:center;
}

#partners{
    min-height: 525px;
}

#howitworks .card,
#partners .card {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    margin-top:1em !important;
    background:transparent !important;
    margin-top:0;
}
#howitworks .card .description{
    color:#3c3c3c !important;
    font-family: Roboto, sans-serif !important;
    font-weight:400!important;
    font-size:18px!important;
    margin-top:1em;
    line-height: 26px;
}
#howitworks .card img{
    margin-top:1em;
}
.modal label{
    font-size: 16px !important;
    font-family: Roboto, sans-serif !important;
    font-weight: 400 !important;
    color:#fff !important;

}
#partners .green.header{
    font-family: 'Russo One', sans-serif;
    color: #6db78f;
    font-size: 34px;
    margin-top: 0.5em;
    text-align: center;
}

#partners img{
    background: transparent;
}

#partners .meta{
    color:#848484;
    font-family: Roboto, sans-serif;
    font-weight:300;
    font-size:18px;
    text-align:center;
    margin:1em 0;
}
#partners .description{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #2b2b2b;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
}
#contact_form{

    -webkit-background-size: cover;
    background-size: cover;
    min-height:700px;
    padding:3em 0;
    margin-bottom:0;
    margin-top: 0;

}
#contact_form h1.header{
    color:#f6f6f6;
    margin-bottom: 1em;
}
#contact_form input,
#contact_form textarea{
    font-family:Roboto,sans-serif;
    font-weight: 400;
    color:#fff;
    font-size:20px;
    background:rgba(255,255,255,.2);
    border:3px solid rgb(42, 184, 119);
}
#contact_form input::placeholder,
#contact_form textarea::placeholder{
    color:#fff;
}
#contact_form input::selection,
#contact_form textarea::selection{
    background: rgba(255,255,255,.8);
}
#footer_black{
    background: #000;
    min-height:100px;
    margin-top: 0;
    margin-bottom: 0;
}
#footer_black .menu{
    background:transparent;
}
#footer_black .copyright{
    color:#fff;
    font-family: Roboto, sans-serif;
    font-weight:300;
    font-size:16px;
    margin:auto;
}
#map{
    min-height:600px;
    margin:0;
}
/*#contact_info{*/
    /*position: absolute;*/
    /*z-index: 5;*/
    /*top: 3900px;*/
    /*left: 10%;*/
    /*width: 400px;*/
/*}*/


#contact_info{
    margin-bottom:0;
    margin-top: 0;
    padding:5em 0
}
#contact_info .icon{
    color:#555555;

}
#contact_info h1.header{
    font-size:3rem;
    padding-bottom:1em;
}
#contact_info .list .header{
    color:#2ab877;
    font-family:Roboto, sans-serif;
    font-weight:300;
    font-size:22px;
    line-height:23px;
    padding-bottom:.5em;
}

#contact_info .list .item{
    padding:1em 0;
}
#contact_info .description{
    font-family:Roboto, sans-serif;
    font-weight:300;
}



.modal .red.pointing.label{
    position: relative;
    /*position: absolute;*/
    z-index: 2;
    left: 9em;
    font-family:Roboto, sans-serif;
    font-weight:400;
}

#features_container .circular.icon{
    background:#2ab877 !important;
    font-size:2.3em;
}

#partners .icon.prev{
    position: relative;
    top: 90px;
    left: -70px;
}
#partners .icon.next{
    position: relative;
    float: right;
    top: -157px;
    left: 70px;
}

#partners .slick-dots{
    position: relative;
    top: 50px;
}
